// fonts
@font-face {
  font-family: 'PressStart2P-Regular';
  src: url(../font/PressStart2P-Regular.ttf);
}
@font-face {
  font-family: '8-BIT WONDER';
  src: url(../font/8-BIT\ WONDER.TTF);
}
// colours variable
$background:#101728;
$white:#ffffff;
$purple:#9340FF;
