@use 'variables';

@mixin flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: variables.$background;
}

.container {
  width: 100%;
  height: 100%;
  // margin-top: 5%;
  @include flexbox();
  flex-direction: column;
  position: relative;
  color: variables.$white;

  .title {
    color: variables.$purple;
    text-transform: uppercase;
    font-family: 'PressStart2P-Regular', sans-serif;
    padding: 20px;
    font-size: 1.5rem;

    span {
      color: variables.$white;
    }
  }

  .text {
    font-family: '8-BIT WONDER';
    text-align: center;
    padding-bottom: 30px;
    font-size: 1rem;
  }

  .diplay {
    width: 100%;
    @include flexbox();
    text-align: center;

    // flex-direction: column;
    .card {
      width: 230px;
      height: 300px;
      @include flexbox();
      margin: 0px 2rem;
      border: 10px solid;
      border-radius: 19px;

      h1 {
        font-size: 8rem;
      }
    }

    h2 {
      font-size: 1rem;
      font-family: 'PressStart2P-Regular', sans-serif;
      padding: 1.5rem 0px;
    }
  }

  .player {
    @include flexbox();

    .btn-player {
      // @include flexbox();
      width: 100px;
      height: 100px;
      margin: 0px 15px;
      border: none;
      border-radius: 1rem;
      background: variables.$purple;
      transition: all .2s ease-in;
      cursor: pointer;

      h3 {
        font-size: 3.5rem;
        // margin: -45% 0px;
        transform: translate(0px, -5px);
      }
    }

    .btn-player:hover {
      opacity: 80%;
    }
  }

  .modal {
    @include flexbox();
    // flex-direction: column;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;

    .cardModal {
      background: variables.$purple;
      padding: 30px;
      text-align: center;
      border-radius: 25px;

      h1 {
        position: relative;
        font-family: 'PressStart2P-Regular', sans-serif;
        font-size: 1rem;
      }

      button {
        position: relative;
        margin-top: 20px;
        width: 300px;
        padding: 15px 30px;
        font-family: 'PressStart2P-Regular', sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        border: 3px solid variables.$white;
        color: variables.$white;
        background: transparent;
        border-radius: 15px;
        transition: all .1s ease-in;
        cursor: pointer;
      }

      button:hover {
        background: variables.$white;
        color: variables.$purple;
      }
    }
  }

  .modal.active {
    display: flex;
  }

  footer {
    font-family: 'PressStart2P-Regular', sans-serif;
    margin: 1.8rem;
    font-size: 0.8rem;

    i {
      font-size: 1.5rem;
    }
  }
}

// mobile version
@media (max-width:400px) {
  .container {
  
    .title {
      padding: 20px;
      font-size: 1rem;
      text-align: center;
    }
  
    .text {
      padding-bottom: 30px;
      font-size: 0.6rem;
    }
  
    .diplay {

      .card {
        width: 150px;
        height: 200px;
        margin: 0px 1rem;
        border: 8px solid;
  
        h1 {
          font-size: 6rem;
        }
      }
  
      h2 {
        font-size: 0.7rem;
        padding: 1.5rem 0px;
      }
    }
  
    .player {
  
      .btn-player {
        width: 80px;
        height: 80px;
        margin: 0px 15px;
        border-radius: 1rem;
  
        h3 {
          font-size: 3.5rem;
          transform: translate(0px, -5px);
        }
      }
    }
  
    .modal {
      width: 100%;
      height: 100%;
  
      .cardModal {
        padding: 25px;
        border-radius: 25px;
  
        h1 {
          font-size: 0.8rem;
        }
  
        button {
          margin-top: 20px;
          width: 250px;
          padding: 15px 30px;
          font-size: 0.8rem;
        }
      }
    }
  
    footer {
      margin: 1.8rem;
      font-size: 0.7rem;
  
      i {
        font-size: 1.3rem;
      }
    }
  }
}
@media (min-width:401px) and (max-width:555px){
  .container {
  
    .title {
      padding: 20px;
      font-size: 1rem;
      text-align: center;
    }
  
    .text {
      padding-bottom: 30px;
      font-size: 0.8rem;
    }
  
    .diplay {

      .card {
        width: 180px;
        height: 250px;
        margin: 0px 0.7rem;
        border: 10px solid;
  
        h1 {
          font-size: 8rem;
        }
      }
  
      h2 {
        font-size: 0.85rem;
        padding: 1.5rem 1rem;
      }
    }
  
    .player {
  
      .btn-player {
        width: 100px;
        height: 100px;
        margin: 0px 15px;
        border-radius: 1rem;
  
        h3 {
          font-size: 4.2rem;
          transform: translate(0px, -5px);
        }
      }
    }
  
    .modal {
      width: 100%;
      height: 100%;
  
      .cardModal {
        padding: 30px;
        border-radius: 25px;
  
        h1 {
          font-size: 0.95rem;
        }
  
        button {
          margin-top: 20px;
          width: 280px;
          padding: 15px 30px;
          font-size: 1rem;
        }
      }
    }
  
    footer {
      margin: 1.8rem;
      font-size: 0.8rem;
  
      i {
        font-size: 1.5rem;
      }
    }
  }
}
// tablet version
@media (min-width:556px) and (max-width:768px){
  .container {
  
    .title {
      padding: 20px;
      font-size: 1.3rem;
      text-align: center;
    }
  
    .text {
      padding-bottom: 30px;
      font-size: 0.9rem;
    }
  
    .diplay {

      .card {
        margin: 0px 0.7rem;
  
        h1 {
          font-size: 10rem;
        }
      }
  
      h2 {
        font-size: 1rem;
      }
    }
  
    .player {
  
      .btn-player {
  
        h3 {
          font-size: 4.2rem;
          transform: translate(0px, -5px);
        }
      }
    }
  }
}
@media (min-width:769px) and (max-width:992px){
  .container {
  
    .title {
      text-align: center;
    }
  
    .diplay {

      .card {
        margin: 0px 0.7rem;
  
        h1 {
          font-size: 10rem;
        }
      }
  
      h2 {
        font-size: 1rem;
      }
    }
  
    .player {
  
      .btn-player {
  
        h3 {
          font-size: 4.2rem;
          transform: translate(0px, -5px);
        }
      }
    }
  }
}
// desktop version
@media (min-width:1400px) and (max-width:1600px){
  .container {
    .title {
      font-size: 1.8rem;
    }
  
    .text {
      font-size: 1.2rem;
    }
  
    .diplay {

      .card {
        width: 300px;
        height: 400px;
        margin: 0px 2rem;
        border: 15px solid;
  
        h1 {
          font-size: 12rem;
        }
      }
  
      h2 {
        font-size: 1.2rem;
        padding: 1.5rem 1rem;
      }
    }
  
    .player {
  
      .btn-player {
        width: 150px;
        height: 150px;
  
        h3 {
          font-size: 5.2rem;
        }
      }
    }
  
    .modal {
      width: 100%;
      height: 100%;
  
      .cardModal {
        padding: 50px;
  
        h1 {
          font-size: 1.3rem;
        }
  
        button {
          margin-top: 20px;
          width: 350px;
          padding: 15px 30px;
          font-size: 1.5rem;
        }
      }
    }
  
    footer {
      margin: 1.8rem;
      font-size: 1rem;
  
      i {
        font-size: 2rem;
      }
    }
  }
}
@media (min-width:1601px) and (max-width:1919px){
  .container {
    .title {
      font-size: 2.2rem;
    }
  
    .text {
      font-size: 1.5rem;
    }
  
    .diplay {

      .card {
        width: 400px;
        height: 500px;
        margin: 0px 2rem;
        border: 15px solid;
  
        h1 {
          font-size: 15rem;
        }
      }
  
      h2 {
        font-size: 1.5rem;
        padding: 2rem 1rem;
      }
    }
  
    .player {
  
      .btn-player {
        width: 200px;
        height: 200px;
  
        h3 {
          font-size: 7rem;
        }
      }
    }
  
    .modal {
      width: 100%;
      height: 100%;
  
      .cardModal {
        padding: 80px;
  
        h1 {
          font-size: 2rem;
        }
  
        button {
          margin-top: 30px;
          width: 420px;
          padding: 15px 30px;
          font-size: 1.8rem;
        }
      }
    }
  
    footer {
      margin: 1.8rem;
      font-size: 1.2rem;
  
      i {
        font-size: 2.5rem;
      }
    }
  }
}
@media (min-width:1920px){
  .container {
    .title {
      font-size: 2.7rem;
    }
  
    .text {
      font-size: 1.8rem;
    }
  
    .diplay {

      .card {
        width: 450px;
        height: 550px;
        margin: 0px 2rem;
        border: 15px solid;
  
        h1 {
          font-size: 17rem;
        }
      }
  
      h2 {
        font-size: 1.8rem;
        padding: 3rem 1rem;
      }
    }
  
    .player {
  
      .btn-player {
        width: 250px;
        height: 250px;
  
        h3 {
          font-size: 10rem;
        }
      }
    }
  
    .modal {
      width: 100%;
      height: 100%;
  
      .cardModal {
        padding: 100px;
  
        h1 {
          font-size: 2.5rem;
        }
  
        button {
          margin-top: 30px;
          width: 500px;
          padding: 15px 30px;
          font-size: 2rem;
        }
      }
    }
  
    footer {
      margin: 1.8rem;
      font-size: 1.5rem;
  
      i {
        font-size: 3rem;
      }
    }
  }
}